<div class="container">
  <div class="card-deck mb-3 text-center">
<div class="card mb-4 shadow-sm">                   <div class="card-header">
        <h4 class="my-0 font-weight-normal">List of cities</h4>
      </div>
      <div class="card-body">
        <table class="table table-responsive table-bordered table-hover" id="data"></table>
      </div>
    </div>
 </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
<script defer src="/js/list.js">
</script>
<style>
table
{
 border: none !important;
}
</style>

