<div class="container">
  <div class="card-deck mb-3 text-center">
<div class="card mb-4 shadow-sm">                   <div class="card-header">
        <h4 class="my-0 font-weight-normal">Current Weather Info</h4>
      </div>
      <div class="card-body">
        <form name="myForm">
        <div class="form-group"><label class="text-bold">Type:</label>
	<select name="type" class="form-control" id="type">
	<option value="1">City /Country Name
	</option>
	<option value="2">Coordinates  
	</option>
	<option value="3">City / Country Id
	</option>
	</select>
	</div>
	<div class="form-group">
	<div id="selectedType"><label class="text-bold">Enter the City / Country Name:</label>          <input name="val1" placeholder="Enter your City / Country" class="form-control" type="text"/>
	</div>
	</div>
	<div class="form-group">
        <input disabled type="submit" name="btn" class="btn btn-lg btn-block btn-primary" value="Try now!" />
	</div>
	</form>
        </div>
        </div>
        <div class="card mb-4 shadow-sm">      
	<div class="card-header">    
	<h4 class="my-0 font-weight-normal">Result</h4>  
	</div>                                            <div class="card-body" id="result">    Your Result here...    </div>                                      </div>
	
 </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
<script src="/js/weather.js">
</script>
<style>
[disabled]
{ background-color: var(--secondary) !important;
  border-color: var(--dark) !important; 
}
</style>
